@inherits LayoutComponentBase
@inject IBootstrapCSS BootstrapCSS
<div class="mainbody">
    <div>
        @Body
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        //await BootstrapCSS.SetBootstrapCSS("4.3.1");
    }
}
