@inherits LayoutComponentBase
<!--
<div class="sidebar">
    <NavMenu />
</div>
    -->
<div class="mainmenu">
    <NewMenu />
</div>
<br />
<div class="mainbody">
    <div>
        @Body
    </div>
</div>
