@page "/summary"

@using TeamApp.Interface.Blazor.Pages.Standings
@using TeamApp.Services
@using TeamApp.ViewModels.Views
@inject IGameDataService GameDataService
@inject ICompetitionService CompetitionService
@inject IStandingsService StandingsService

<h1>Daily View</h1>
<b>Current Year </b>@summary.CurrentYear
<br />
<b>Current Day</b>@summary.CurrentDay
<br />

<RadzenButton Click="@((args) => Click(args, "PlayDay"))" Text="Play Day">Play Day</RadzenButton><br />

<Standings model="standings" />


@code {
    GameSummary summary;    

    protected override async Task OnInitializedAsync()
    {
            summary = await GameDataService.GetGameSummary();
            standings = await StandingsService.GetStandings(1, summary.CurrentYear, 1);
    }


    StandingsViewModel standings;

    async void Click(MouseEventArgs args, string buttonName)
    {
        if (buttonName.Equals("PlayDay"))
        {
            GameDataService.PlayAndProcessDay();
            summary = await GameDataService.GetGameSummary();
            standings = await StandingsService.GetStandings(1, summary.CurrentYear, 1);

        }

        StateHasChanged();
    }

}
