<div *ngIf="team">
  <h3>{{team.name | uppercase}} Details</h3>  
  <div>
    <label>Id:</label>
    <span class="readonly">{{team.id}}</span>
    <label>Name:</label>
    <input type="text" [(ngModel)]="team.name" placeholder="name"><input type="text" [(ngModel)]="team.nickname" placeholder="nickname" /><br />
    <label>Owner:</label>
    <input type="text" [(ngModel)]="team.owner" placeholder="owner" /><br />
    <label>Skill:</label>
    <input type="text" [(ngModel)]="team.skill" placeholder="0" /><br />    
  </div>
</div>
