<div *ngIf="team">  
  <div>    
    <span class="readonly">{{team.name}} {{team.nickName}} Details</span><br />
    <label>Id:</label>
    <span class="readonly">{{team.id}}</span>
    <label>Name:</label>
    <input type="text" [(ngModel)]="team.name" placeholder="name"><input type="text" [(ngModel)]="team.nickName" placeholder="nickname" /><br />
    <label>Owner:</label>
    <input type="text" [(ngModel)]="team.owner" placeholder="owner" /><br />
    <label>Skill:</label>
    <input type="text" [(ngModel)]="team.skill" placeholder="0" /><br />
  </div>
</div>
