@inherits CompetitionDropDownBase

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="yearDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @DropDownHeaderValue
    </button>
    <div class="dropdown-menu" aria-labelledby="yearDropDown">

        @foreach (var competition in Competitions)
        {
            <button class="dropdown-item" @onclick="@(() => ChooseCompetition(competition))">@competition.Name</button>

        }
    </div>
</div>