@page "/playoffs"

<div>
    <div class="roundName">
        Round 1
    </div>
    <div class="matchup teamFloat">
        <div class="teamScore">
            <div class="team teamFloat winner">Calgary</div>
            <div class="score teamFloat">4</div>
        </div>
        <div class="teamScore">
            <div class="team teamFloat">Edmonton</div>
            <div class="score teamFloat">2</div>
        </div>
    </div>
    <div class="matchup teamFloat">
        <div class="teamScore">
            <div class="team teamFloat">Calgary</div>
            <div class="score teamFloat">4</div>
        </div>
        <div class="teamScore">
            <div class="team teamFloat">Edmonton</div>
            <div class="score teamFloat">2</div>
        </div>
    </div>
    <div class="matchup teamFloat">
        <div class="teamScore">
            <div class="team teamFloat">Calgary</div>
            <div class="score teamFloat">4</div>
        </div>
        <div class="teamScore">
            <div class="team teamFloat">Edmonton</div>
            <div class="score teamFloat">2</div>
        </div>
    </div>
</div>

@code {

}
